@reference "../app/globals.css";

.info-card {
	@apply dark:bg-gray-700 bg-gray-100 p-3 rounded border border-gray-300 dark:border-gray-600/90 h-[-webkit-fill-available] flex gap-1 flex-row w-full;
}

.info-card > div {
	@apply [&_svg]:size-5 [&_svg]:text-primary [&_svg]:dark:text-dark-primary mt-1;
}

.info-card h4 {
	@apply text-base font-semibold;
}

.info-card main p {
	@apply text-sm dark:text-gray-300 text-gray-600;
}
