@reference 'tailwindcss';

.user-menu {
	@apply hidden opacity-0 translate-x-4;
  transition: all 0.4s allow-discrete;
}

.user-menu.show {
  @apply block opacity-100 -translate-x-0;


  @starting-style {
    @apply opacity-0 translate-x-4;
  }
}

.user-menu a,
.user-menu button {
	@apply flex flex-row gap-1 items-center hover:bg-gray-300/80 px-1.5 py-1 rounded transition-colors cursor-pointer;

  html.dark &:hover {
    @apply bg-gray-700/80;
  }
}
