@supports (appearance: base-select) {
  .custom-select {
    transition: all 0.2s ease;
    appearance: base-select;
    --hover-select-color: color-mix(in srgb, var(--color-primary) 40%, transparent);

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  html.dark .custom-select {
    --hover-select-color: color-mix(in srgb, var(--color-dark-primary) 50%, transparent);
  }

  .custom-select:focus {
    outline-color: light-dark(var(--color-primary), var(--color-dark-primary));
    outline-offset: 5px;
  }

  .custom-select ::checkmark,
  .custom-select::picker-icon {
    display: none;
  }

  .custom-select::picker(select) {
    appearance: base-select;
    border: 1px solid light-dark(#bbc1caaf, #5a5a66);
    border-radius: 4px;
    background-color: light-dark(white, #3f3f46);
    box-shadow: 0 0 10px 0 light-dark(#6b72804f, rgba(0, 0, 0, 0.2));
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;

    @starting-style {
      opacity: 0;
    }
  }

  .custom-select option {
    padding: 10px;
    cursor: pointer;
    color: light-dark(black, #d1d5db);

    @media (width >= 48rem /* 768px */) {
      padding: 6px 10px;
    }
  }

  .custom-select option:focus {
    outline-color: light-dark(var(--hover-select-color), var(--hover-select-color));
  }

  .custom-select option:is(:checked) {
    background-color: var(--hover-select-color);
  }

  .custom-select option:hover {
    background-color: var(--hover-select-color);
    transition: background-color 0.3s ease;
  }

  .custom-select option:disabled {
    background-color: #cfd3da;
    color: #536885;
    cursor: not-allowed;
  }

  .custom-select:open option {
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transform: translateY(0);
    transition-delay: var(--delay);
    opacity: 1;

    @starting-style {
      transform: translateY(-6px);
      opacity: 0;
    }
  }

  .custom-select .picker-icon {
    align-self: center;
    transition: transform 0.3s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1);
    width: 15px;
    height: 15px;
    background-color: light-dark(#6a7282, #99a1af);
    mask: url("/assets/icons/caret-down.svg");

    .custom-select:open & {
      transform: rotate(180deg);
    }
  }

  .custom-select:has(option:checked:not([disabled])) .text-label {
    display: none;
  }

  .custom-select selectedcontent {
    width: 100%;
    height: 100%;
  }

  selectedcontent > * {
    transition: transform 0.4s cubic-bezier(0.24, 0.85, 0.21, 1.43),
      opacity 0.2s;
    opacity: 1;

    @starting-style {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  :where(.custom-select, selectedcontent, .text-label) {
    transition: color 0.2s;
  }

  .custom-select:open, .custom-select:focus-visible {
    border-color: light-dark(var(--color-primary), var(--color-dark-primary));
  }
  
  .custom-select:focus .picker-icon,
  .custom-select:open .picker-icon {
    --light-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
    --dark-color: color-mix(in srgb, var(--color-dark-primary) 80%, transparent);

    background-color: light-dark(var(--light-color), var(--dark-color));
  }
}

.custom-select .text-label {
  color: light-dark(var(--color-gray-800), var(--color-gray-300));
  z-index: 10;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.custom-select .text-label::after {
  margin-left: 4px;
  color: var(--color-red-500);
}

.custom-select .text-label.text-label--required::after {
  content: "*";
}