@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  scroll-margin-block: 50px;
}

@theme {
  --animate-loader: loader 0.8s linear infinite;
  --animate-fadeIn: fade-in 0.6s ease-out;

  --color-page-dark-bg: var(--color-gray-950);
  --color-page-light-bg: var(--color-white);
  --color-page-light-bg-contrast: var(--color-gray-50);
  --color-page-dark-bg-contrast: var(--color-gray-800);
  --color-primary: var(--primary-color);
  --color-primary-contrast: var(--primary-contrast-color);
  --color-dark-primary: var(--dark-primary-color);
  --color-dark-primary-contrast: var(--dark-primary-contrast-color);


  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
	.button {
		@apply w-full px-3 md:py-1.5 py-1 rounded cursor-pointer disabled:text-white/90 flex flex-row gap-2 items-center justify-center not-disabled:active:scale-95 transition-all mb-3 disabled:cursor-not-allowed text-sm md:text-base h-9;
	}

	.primary-button {
		@apply bg-(--color) hover:bg-(--color)/80 disabled:bg-(--color)/70;
	}

	.secondary-button {
		@apply bg-transparent border border-gray-400 hover:bg-gray-200 dark:bg-gray-500/30 dark:border-gray-500/40 dark:hover:bg-gray-500/50 disabled:text-gray-700/90 dark:disabled:text-gray-400;
	}

  .bg-page {
    @apply bg-(--color-page-light-bg) dark:bg-(--color-page-dark-bg);
  }

  .bg-page-contrast {
    @apply bg-(--color-page-light-bg-contrast) dark:bg-(--color-page-dark-bg-contrast);
  }
}

html, body, main {
  scrollbar-gutter: stable;
}

.input label {
  transition-duration: 0.3s;
  transition-property: transform, translate, font-size, color;
  transition-timing-function: ease;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label {
  translate: 0 -110%;
  color: light-dark(#6a7282, #9ca3af);
  font-size: 13px;
}

.input input:focus + label {
  color: light-dark(
    var(--color),
    color-mix(in srgb, var(--color) 90%, transparent)
  );
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.checkbox-wrapper .label span {
  float: left;
}
.checkbox-wrapper .label span:first-child {
  position: relative;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper .label span:first-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(-50%, -50%, 0);
}
.checkbox-wrapper .label span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper .label:hover span:first-child {
  border-color: var(--color);
}
.checkbox-wrapper .inp-checkbox {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper .inp-checkbox:checked + .label span:first-child {
  background: var(--color);
  border-color: var(--color);
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper .inp-checkbox:checked + .label span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

.eye-line {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  transition: stroke-dashoffset 0.3s ease;
}

.eye-off .eye-line {
  stroke-dashoffset: 0;
}
